* {
  font-family: 'Poppins', sans-serif;
  transform: rotate(2deg);
} 

.wrapper {
  display: grid;
  grid-template-areas:
    'box-front-page box-front-page'
    'box-main box-starters'
    'box-main box-deserts';
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.wrapper > div {
  background: #bbbbbb;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background: #dddddd; 
}

.front-page {
  grid-area: box-front-page;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em; 
  grid-area: box-main;
}

.main > div {
  border: #000000 1px solid; 
  padding: 1em;
}

.starters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em; 
  grid-area: box-starters;
}

.starters > div {
  border: #000000 1px solid; 
  padding: 1em;
}

.deserts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-area: box-deserts;
}

.deserts > div {
  border: #000000 1px solid; 
  padding: 1em;
}

/* media querries */
@media(max-width: 900px) {
  .wrapper {
    grid-template-areas:
    'box-front-page'
    'box-main'
    'box-starters'
    'box-deserts';
  }
}