* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
} 

:root {
  --red: rgb(155, 0, 0);
  overflow-x: hidden;
}

h1:hover {
  color: var(--red);
}

div[data-class='main'] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

div[data-class='container'] {
  position: relative;
  width: 40%;
  margin: 0.5em;
  padding: 1em;
  border-radius: 1px black;
  border: 1px black;
  transition: transform .2s;
  /* animation: opacity 3s; */
} 

div[data-class='container']:hover {
  /* animation: rotate 5s infinite; */
  transform: scale(1.1);  
}

div[data-class='container'] > h1 {
  text-align: center;
}

div[data-class='header'] {
  width: 90%;
  text-align: center;
}

div[data-class='header']:first-child {
  font-size: 2em;
  letter-spacing: 5vw;
  margin: 1em;
  border-left: 1px black;
  border-right: 1px black;
  animation-name: title;
  animation-duration: 2s;
}

div[data-class="product"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

div[data-class="frontpage"] {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 22% auto 22%;

  width: 80vh; 
  height: auto;
  grid-gap: 1px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: space-evenly;

  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

div[data-class="fronttitle"] {
  font-size: 4vh;
  margin: 0em;
  border-left: 1px black;
  border-right: 1px black;
  letter-spacing: .9em;
  animation-name: fronttitle;
  animation-duration: 2s;
}

div[data-class="frontpage"] > a:target {
  display: none;
}

div[data-class="frontcontainer"] {
  animation-name: opacity;
  animation-duration: 3s;
} 

div[data-id="content"]:before, 
div[data-id="content"]:after, 
div[data-id="content"]>:last-child:before, 
div[data-id="content"]>:last-child:after {
    position: absolute;
    width: 60px; 
    height: 50px;
    border-color: black; 
    border-style: solid;
    content: ' ';
}

div[data-id="content"]:before { /*Linksboven */
    top: 10px;
    left: 10px;
    border-width: 1px 0 0 1px
}

div[data-id="content"]:after { /* Rechtsboven */
    top: 10px;
    right: 10px;
    border-width: 1px 1px 0 0
}

div[data-id="content"]>:last-child:before { /* Rechtsonder */
    bottom: 10px;
    right: 10px;     
    border-width: 0 0px 0px 0
}

div[data-id="content"]>:last-child:after { /* Linksonder */
    bottom: 10px;
    left: 10px;
    border-width: 0 0 0px 0px
}

div[data-class="footer"] {
  position: fixed;
  bottom: 0;
  height: 40px;
  color: white;
  background: black;
  font-size: 1.7em;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 15s infinite linear;
  padding-left: 100%; /*Initial offset*/
}

div[data-class="footer"]:hover {
  animation-play-state: paused;
}

@media(max-width: 900px) {
  div[data-class="container"] {
    width: 75%;
  }

  div[data-class='header']:first-child {
    letter-spacing: 0em;
  }
}

@media(max-width: 600px) {
  div[data-class="frontpage"] {
    /* width: 90%; */
  }

  div[data-class="fronttitle"]  {
    /* letter-spacing: 1.5vw; */
  }
}

@keyframes title {
  0%   {letter-spacing: 0.5em;}
  70%  {letter-spacing: 0.7em;}
  100% {letter-spacing: 5vw;}
}

@keyframes fronttitle {
  0%   {letter-spacing: 0.1em;}
  70%  {letter-spacing: 0.2em;}
  100% {letter-spacing: 0.9em;}
}

@keyframes opacity {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  80%  {opacity: 80;}
  100% {opacity: 100;}
}

@keyframes rotate {
  0% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
  100% {transform: rotate(-2deg);}
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}