/* ------------ ROOT ---------------- */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
} 

:root {
  --red: rgb(155, 0, 0);
  overflow-x: hidden;
}

h1:hover {
  color: var(--red);
}

/* ------------ FRONT PAGE ---------------- */
div[data-class="front-flex"] {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 22% auto 22%;

  width: 500px; 
  height: auto;
  grid-gap: 1px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: space-evenly;

  transform:  translateX(-50%) translateY(-50%) rotate(0deg);
}

div[data-class="clicktext"] {
  position: absolute;
  top: 53%;
  left: 67%;
  text-align: center;
  color: var(--red);
  transform:  translateX(-50%) translateY(-50%) rotate(30deg);
  
  animation: opacity 3s, moveUpDown 3s linear infinite;
}
 
div[data-class="fronttitle"] {
  text-align: center;
  font-size: 1.7em;
  margin: 0em;
  letter-spacing: .9em;
  animation-name: fronttitle;
  animation-duration: 2s;
  
}


div[data-class="frontcontainer"] {
  animation-name: opacity;
  animation-duration: 3s;
} 


/* ------------ HOME PAGE ---------------- */
div[data-class='main'] {
  display: none;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

div[data-class='header'] {
  width: 90%;
  /* margin: auto; */
  text-align: center;
}

div[data-class='header']:first-child {
  text-align: center;
  font-size: 2em;
  letter-spacing: 6vw;
  margin: 1em;
  border-left: 1px black;
  border-right: 1px black;
  animation-name: title;
  animation-duration: 2s;
}

div[data-class='header']:first-child:hover {
  transform: scale(1.1);
}

div[data-class='container'] {
  position: relative;
  width: 40%;
  margin: 0.5em;
  padding: 1em;
  border-radius: 1px black;
  border: 1px black;
  transition: transform .2s;
  animation: opacity 3s;
} 

div[data-class='container']:hover {
  transform: scale(1.2);  
}

div[data-class='container'] > h1 {
  text-align: center;
}

div[data-class="product"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

/* ------------ FLYING DRINK ---------------- */
div[data-class="flying-drink"] {
  display: none;
  position: absolute;
  top: 110%;
  left: 80%;
  animation: flyIn 1s;
  transform:  translateX(-50%) translateY(-50%) rotate(10deg);
}

div[data-class="flying-drink"]:hover ~ body {
    background: black;
}

/* ------------ CONTAINER CORNERS ---------------- */
div[data-id="content"]:before, 
div[data-id="content"]:after, 
div[data-id="content"]>:last-child:before, 
div[data-id="content"]>:last-child:after {
    position: absolute;
    width: 60px; 
    height: 50px;
    border-color: black; 
    border-style: solid;
    content: ' ';
}

div[data-id="content"]:before { /*Linksboven */
    top: 10px;
    left: 10px;
    border-width: 1px 0 0 1px
}

div[data-id="content"]:after { /* Rechtsboven */
    top: 10px;
    right: 10px;
    border-width: 1px 1px 0 0
}

div[data-id="content"]>:last-child:before { /* Rechtsonder */
    bottom: 10px;
    right: 10px;     
    border-width: 0 0px 0px 0
}

div[data-id="content"]>:last-child:after { /* Linksonder */
    bottom: 10px;
    left: 10px;
    border-width: 0 0 0px 0px
}

/* ------------ FOOTER---------------- */
div[data-class="footer"] {
  position: fixed;
  bottom: 0;
  height: 40px;
  color: white;
  font-size: 1.7em;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 15s infinite linear;
  padding-left: 100%; /*Initial offset*/
  z-index: 2;
}

div[data-class="footer"]:hover {
  animation-play-state: paused;
}

div[data-class="footer-bg"] {
  position: fixed;
  bottom: 0;
  height: 40px;
  background: black;
  white-space: nowrap;
  padding-left: 100%; /*Initial offset*/
  z-index:1;
}

/* ------------ MEDIA QUERRIES ---------------- */
@media(max-width: 900px) {
  div[data-class="container"] {
    width: 75%;
  }

  div[data-class='header']:first-child {
    letter-spacing: 0em;
  }
}

@media(max-width: 650px) {
  div[data-class="front-flex"] {
    width: 300px;
  }

  div[data-class="fronttitle"] {
    letter-spacing: .1em;
    font-size: 1.6em;
  }
}

/* ------------ KEYFRAMES ---------------- */

@keyframes fronttitle {
  0%   {letter-spacing: 0.1em;}
  70%  {letter-spacing: 0.2em;}
  100% {letter-spacing: 0.9em;}
}

@keyframes title {
  0%   {letter-spacing: 0.5em;}
  70%  {letter-spacing: 0.7em;}
  100% {letter-spacing: 6vw;}
}

@keyframes opacity {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  80%  {opacity: 80;}
  100% {opacity: 100;}
}

@keyframes rotate {
  0% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
  100% {transform: rotate(-2deg);}
}

@keyframes moveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}

@keyframes floatText {
  from {  
    transform: translateX(-40%);
  }
  to {
    transform: translateX(-60%);
  }
}

@keyframes flyIn {
  0% {
    left: 100%
  }
  100% {
    left: 80%;
  }
}
