* {
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

.navbar {
  position: absolute;
  margin: 0px;
  width: 100%;
}

nav {
  overflow: hidden;
  width: 100%;
  height: 50px;
  background-color: #0005;
  line-height: 20px;
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  float: right;
  margin-right: 50px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.8s all;
}

nav ul li:hover {
  background-color: #f39d1a
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 30px;
}

.bg { 
  /* The image used */
  background-image: url("../img/bg.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/*  -webkit-animation: bummer .5s;
  animation: bummer .5s;
  -webkit-transform: scale(1,1); 
  transform: scale(1.1,1.1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;*/
}

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1,1); 
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1); 
    }
}

.container {
  text-align: center;
}

.middle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
}